.features {
  background-color: getColor ('color-white');
  padding-bottom: 0px;
  &__list {
    display: flex;
    flex-direction: row;
  }
  &__image {
    @extend %align-list;
    justify-content: center;
    border-radius: 4px;
    height: 120px;
    background-color: rgba(245, 244, 250, 1);
    margin-bottom: 30px;
  }
  &__item {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__title {
    @extend %textStyle;
    $lh: 1.14;
    $ls: var(--letter-spacing);
    color: getColor ('color-main-text');
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: auto;
  }
  &__text {
    $fw: 400;
    $fs: 14px;
    $lh: 1.71;
    $ls: var(--letter-spacing);
    color: getColor ('color-secondary-text');
    width: 270px;
  }
}
