.address {
  background-color: var(--bg-color);
  color: var(--white-color);
  letter-spacing: var(--letter-spacing);
  padding-top: 60px;
  padding-bottom: 60px;
  display: block;
}

.address .container {
  display: flex;
  align-items: baseline;
}

// .address__logo {
//   font-family: 'Raleway', sans-serif;
//   color: var(--white-color);
//   font-style: normal;
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.19;
//   text-decoration: none;
//   margin-bottom: 20px;
//   display: block;
// }

// .address__logo-part {
//   color: var(--accent-color);
//   font-style: normal;
// }
.address__link {
  color: var(--white-color);
  font-style: normal;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-link {
  color: var(--white-color);
  font-style: normal;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-link {
  color: var(--white-color);
  font-style: normal;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__list {
  color: var(--white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  display: block;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
  text-decoration: none;
}
.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
  text-decoration: none;
}

.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
  text-decoration: none;
}

// .socials {
//   margin-left: 70px;
//   margin-right: 93px;
//   text-align: left;
// }

// .socials__text {
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.17;
//   letter-spacing: var(--letter-spacing);
//   text-transform: uppercase;
//   font-style: normal;
//   margin-bottom: 16px;
// }

// .footer-soc-list {
//   display: flex;
//   justify-content: left;
// }

// .footer-soc-item {
//   width: 44px;
//   height: 44px;
//   margin-right: 10px;
// }

// .footer-soc-item:last-child {
//   margin-right: 0;
// }

// .footer-soc-link {
//   width: 100%;
//   height: 100%;
//   border-radius: 50%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background-color: rgba(255, 255, 255, 0.1);
//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .footer-soc-link:hover,
// .footer-soc-link:focus {
//   background-color: var(--accent-color);
// }

// .footer-soc-link:hover .footer-soc-icon,
// .footer-soc-link:focus .footer-soc-icon {
//   fill: var(--white-color);
// }
// .footer-soc-icon {
//   fill: var(--white-color);
// }
