.address {
  background-color: getColor ('color-bg');
  color: getColor ('color-white');
  letter-spacing: var(--letter-spacing);
  padding-top: 60px;
  padding-bottom: 60px;
  display: block;
  .container {
    display: flex;
    align-items: baseline;
  }
}
