.header {
  background-color: getColor ('color-white');
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: getColor ('color-border');
  padding-top: 32px;
  padding-bottom: 32px;
  .container {
    @extend %align-list;
    justify-content: space-between;
  }
}
