body {
  background-color: getColor ('color-white');
  color: getColor ('color-main-text');
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.current {
  color: #2196f3;
}
