:root {
  --accent-color: #2196f3;
  --secondary-text-color: #757575;
  --main-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-color: #ffffff;
  --main-btn-color: #f5f4fa;
  --dark-grey-color: #2f303a;
  --black-color: #000000;
  --border-color: #eeeeee;
  --main-icon-color: #afb1b8;
  --letter-spacing: 0.03em;
}
